# OneCampus Data Wrangling Academy Project

## Muskets Football Team Dataset

In [1]:
import os

In [2]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [3]:
os.listdir()

['.ipynb_checkpoints', 'Muskets_teamData_V2.csv', 'wrangle.ipynb']

In [4]:
df = pd.read_csv('Muskets_teamData_V2.csv')

In [5]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93.0,93.0,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85.0,92.0,91.0,95.0,38.0,65.0,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92.0,92.0,\n\n\n\nJuventus,...,High,Low,5 ★,89.0,93.0,81.0,89.0,35.0,77.0,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91.0,93.0,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87.0,92.0,78.0,90.0,52.0,90.0,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91.0,91.0,\n\n\n\nManchester City,...,High,High,4 ★,76.0,86.0,93.0,88.0,64.0,78.0,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91.0,91.0,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91.0,85.0,86.0,94.0,36.0,59.0,595

In [6]:
df.columns

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19021 entries, 0 to 19020
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19021 non-null  int64
 1   Name              19021 non-null  object
 2   LongName          19021 non-null  object
 3   photoUrl          19021 non-null  object
 4   playerUrl         19021 non-null  object
 5   Nationality       19021 non-null  object
 6   Age               19021 non-null  int64
 7   ↓OVA              19019 non-null  float64
 8   POT               19020 non-null  float64
 9   Club              19021 non-null  object
 10  Contract          19021 non-null  object
 11  Positions         19021 non-null  object
 12  Height            19021 non-null  object
 13  Weight            19020 non-null  object
 14  Preferred Foot    19021 non-null  object
 15  BOV               19021 non-null  int64
 16  Best Position     19021 non-null  object
 17  Joined            19021 non-null  object
 18  Loan Date End     1015 non-null   object
 19  Value             19021 non-null  object
 20  Wage              19021 non-null  object
 21  Release Clause    19018 non-null  object
 22  Attacking         19020 non-null  float64
 23  Crossing          19020 non-null  float64
 24  Finishing         19016 non-null  float64
 25  Heading Accuracy  19013 non-null  float64
 26  Short Passing     19012 non-null  object
 27  Volleys           19014 non-null  float64
 28  Skill             19015 non-null  float64
 29  Dribbling         19020 non-null  object
 30  Curve             19013 non-null  float64
 31  FK Accuracy       19015 non-null  float64
 32  Long Passing      19018 non-null  float64
 33  Ball Control      19018 non-null  float64
 34  Movement          19016 non-null  float64
 35  Acceleration      19017 non-null  float64
 36  Sprint Speed      19018 non-null  float64
 37  Agility           19019 non-null  float64
 38  Reactions         19017 non-null  float64
 39  Balance           19014 non-null  float64
 40  Power             19020 non-null  float64
 41  Shot Power        19019 non-null  float64
 42  Jumping           19017 non-null  float64
 43  Stamina           19020 non-null  float64
 44  Strength          19016 non-null  float64
 45  Long Shots        19014 non-null  float64
 46  Mentality         19015 non-null  float64
 47  Aggression        19021 non-null  int64
 48  Interceptions     19017 non-null  float64
 49  Positioning       19020 non-null  float64
 50  Vision            19021 non-null  int64
 51  Penalties         19020 non-null  float64
 52  Composure         19020 non-null  float64
 53  Defending         19020 non-null  float64
 54  Marking           19019 non-null  float64
 55  Standing Tackle   19018 non-null  float64
 56  Sliding Tackle    19020 non-null  float64
 57  Goalkeeping       19018 non-null  float64
 58  GK Diving         19020 non-null  float64
 59  GK Handling       19020 non-null  float64
 60  GK Kicking        19019 non-null  float64
 61  GK Positioning    19019 non-null  float64
 62  GK Reflexes       19021 non-null  int64
 63  Total Stats       19020 non-null  float64
 64  Base Stats        19021 non-null  int64
 65  W/F               19021 non-null  object
 66  SM                19021 non-null  object
 67  A/W               19021 non-null  object
 68  D/W               19020 non-null  object
 69  IR                19021 non-null  object
 70  PAC               19018 non-null  float64
 71  SHO               19018 non-null  float64
 72  PAS               19016 non-null  float64
 73  DRI               19019 non-null  float64
 74  DEF               19016 non-null  float64
 75  PHY               19020 non-null  float64
 76  Hits              16426 non-null  object
dtypes: float64(45), int64(7), object(25)
memory usage: 11.2+ MB

In [8]:
df_clean = df.copy()

## Task 1

### 1. Extract the player names from the PlayerUrl column

In [9]:
df_clean['Player Name'] = df_clean['playerUrl'].str.extract(r'/\d+/([^/]+)/\d+/')

The regular expression captures the player name by focusing on the part between the first and second slashes after the initial numerical part. This way, we can effectively extract the player name from the given URLs

### 2. Create a new column titled Player Status from the CONTRACT column

In [10]:
def categorize_contract_status(contract):
    if 'Free' in contract:
        return 'Free'
    elif 'On Loan' in contract:
        return 'On Loan'
    else:
        return 'Active'

# Create the 'Player Status' column using the function
df_clean['PlayerStatus'] = df_clean['Contract'].apply(categorize_contract_status)

### 3. Unpack the POSITIONS column into as many columns

In [11]:
# Create a DataFrame of dummy columns for each position
positions_dummies = df_clean['Positions'].str.get_dummies(', ')

positions_dummies = positions_dummies.astype(bool)

# Combine the dummy columns with the original DataFrame
df_clean = pd.concat([df_clean, positions_dummies], axis=1)

The dataframe `positions_dummies` contains dummy columns for each position. The `.str.get_dummies(', ')` function creates these columns based on the comma-separated positions in the `'Positions'` column. Finally, the `pd.concat()` function is used to combine the original DataFrame with the dummy columns, effectively unpacking the positions into separate Boolean columns.

### 4. Convert `Weight`, `Height`, `W/F`, `SM` and `IR` to integer column

### `Weight`

In [12]:
df_clean['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       nan, '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs',
       '185lbs', '170lbs', '203lbs', '168lbs', '161lbs', '146lbs',
       '130lbs', '190lbs', '174lbs', '148lbs', '165lbs', '159lbs',
       '192lbs', '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg',
       '103kg', '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg',
       '107kg', '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [13]:
# No of rows with nan values in Weight column
df_clean['Weight'].isna().sum()

1

In [14]:
# Drop row with nan
df_clean.dropna(subset=['Weight'], inplace=True)

# Confirm row with nan has been drop
print(df_clean['Weight'].isna().sum())

0

In [15]:
# Convert pounds to kilograms and kg/lbs to integers
def convert_to_integer(weight):
    if 'lbs' in weight:
        pounds = int(weight.replace('lbs', ''))
        return int(round(pounds * 0.453592))  # Convert pounds to kg and round to the nearest integer
    else:
        return int(weight.replace('kg', ''))

# Apply the conversion function to the 'Weight' column
df_clean['Weight'] = df_clean['Weight'].apply(convert_to_integer)

The `convert_to_integer` function is used to convert the weight values to integers. It converts pounds to kilograms and rounds the result to the nearest integer. The function is then applied to the 'Weight' column using the .apply() function, and the results are stored in a new 'Weight(kg)' column as integers.

### `Height`

In [16]:
df_clean['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [17]:
# Convert heights from feet and inches to centimeters
def feet_inches_to_cm(height):
    if 'cm' in height:
        return int(height.replace('cm', ''))
    else:
        feet, inches = height.split('\'')
        total_inches = int(feet) * 12 + int(inches.replace('"', ''))
        return int(round(total_inches * 2.54))

# Apply the conversion function to the 'Height' column
df_clean['Height'] = df_clean['Height'].apply(feet_inches_to_cm)

### `W/F `

In [18]:
df_clean['W/F'].unique()

array(['4 ★', '3 ★', '5 ★', '2 ★', '1 ★'], dtype=object)

In [19]:
# Mapping of star ratings to numerical values
star_mapping_1 = {'1 ★': 1, '2 ★': 2, '3 ★': 3, '4 ★': 4, '5 ★': 5}

# Apply mapping defined above to the 'W/F' column
df_clean['W/F'] = df_clean['W/F'].map(star_mapping_1)

### `SM`

In [20]:
df_clean['SM'].unique()

array(['4★', '5★', '1★', '2★', '3★'], dtype=object)

In [21]:
star_mapping_2= {'1★': 1, '2★': 2, '3★': 3, '4★': 4, '5★': 5}
df_clean['SM'] = df_clean['SM'].map(star_mapping_2)

### `IR`

In [22]:
df_clean['IR'].unique()

array(['5 ★', '3 ★', '4 ★', '2 ★', '1 ★'], dtype=object)

In [23]:
df_clean['IR'] = df_clean['IR'].map(star_mapping_1)

### 5. Convert to `Value`, `Wage` and `Release Clause` columns to float

### `Value`

In [24]:
df_clean['Value'].unique()

array(['€103.5M', '€63M', '€120M', '€129M', '€132M', '€111M', '€120.5M',
       '€102M', '€185.5M', '€110M', '€113M', '€90.5M', '€82M', '€17.5M',
       '€83.5M', '€33.5M', '€114.5M', '€78M', '€103M', '€109M', '€92M',
       '€10M', '€76.5M', '€89.5M', '€87.5M', '€79.5M', '€124M', '€114M',
       '€95M', '€92.5M', '€105.5M', '€88.5M', '€85M', '€81.5M', '€26M',
       '€21M', '€56M', '€67.5M', '€53M', '€36.5M', '€51M', '€65.5M',
       '€46.5M', '€61.5M', '€72.5M', '€77.5M', '€43.5M', '€32.5M', '€36M',
       '€32M', '€54M', '€49.5M', '€57M', '€66.5M', '€74.5M', '€71.5M',
       '€121M', '€99M', '€67M', '€86.5M', '€93.5M', '€70M', '€62M',
       '€66M', '€58M', '€44M', '€81M', '€37M', '€14.5M', '€46M', '€47.5M',
       '€52.5M', '€54.5M', '€34.5M', '€57.5M', '€51.5M', '€44.5M', '€55M',
       '€48M', '€60.5M', '€63.5M', '€61M', '€29M', '€58.5M', '€55.5M',
       '€42M', '€40.5M', '€43M', '€45.5M', '€34M', '€26.5M', '€42.5M',
       '€35.5M', '€45M', '€41.5M', '€40M', '€11M', '€13.5M', '€29.5M',
       '€27M', '€15.5M', '€38.5M', '€52M', '€33M', '€19M', '€73.5M',
       '€38M', '€35M', '€47M', '€24M', '€30.5M', '€18M', '€28M', '€25.5M',
       '€25M', '€31M', '€23.5M', '€30M', '€31.5M', '€22.5M', '€28.5M',
       '€4M', '€12.5M', '€37.5M', '€27.5M', '€16M', '€15M', '€20.5M',
       '€22M', '€3.4M', '€5M', '€56.5M', '€62.5M', '€0', '€39M', '€24.5M',
       '€21.5M', '€13M', '€8M', '€20M', '€8.5M', '€2.9M', '€9M', '€4.6M',
       '€50M', '€23M', '€18.5M', '€7M', '€19.5M', '€5.5M', '€7.5M',
       '€3.8M', '€14M', '€10.5M', '€16.5M', '€3.6M', '€9.5M', '€39.5M',
       '€17M', '€12M', '€11.5M', '€4.9M', '€3M', '€1.9M', '€6.5M',
       '€1.7M', '€2.4M', '€3.1M', '€6M', '€3.7M', '€4.7M', '€4.3M',
       '€2.1M', '€1.2M', '€1.8M', '€4.8M', '€3.2M', '€1.3M', '€825K',
       '€2.3M', '€1.5M', '€3.9M', '€2.6M', '€3.5M', '€2.8M', '€2.7M',
       '€4.4M', '€4.1M', '€950K', '€1.6M', '€625K', '€1.1M', '€4.5M',
       '€4.2M', '€2.2M', '€3.3M', '€1.4M', '€2M', '€475K', '€925K',
       '€750K', '€725K', '€2.5M', '€1M', '€350K', '€525K', '€600K',
       '€850K', '€800K', '€550K', '€250K', '€400K', '€425K', '€575K',
       '€210K', '€325K', '€900K', '€875K', '€650K', '€700K', '€500K',
       '€975K', '€375K', '€775K', '€275K', '€180K', '€450K', '€675K',
       '€150K', '€240K', '€300K', '€130K', '€220K', '€200K', '€110K',
       '€170K', '€230K', '€90K', '€120K', '€80K', '€190K', '€140K',
       '€160K', '€100K', '€60K', '€50K', '€70K', '€45K', '€35K', '€40K',
       '€25K', '€20K', '€15K', '€30K', '€9K'], dtype=object)

In [25]:
# Function to convert value to float
def convert_value(value):
    if value.endswith('M'):
        return float(value[1:-1]) * 1e6  # Convert millions to float
    elif value.endswith('K'):
        return float(value[1:-1]) * 1e3  # Convert thousands to float
    else:
        return float(value[1:])
    
# Apply the conversion function to the 'Value' column
df_clean['Value'] = df_clean['Value'].apply(convert_value)

### `Wage`

In [26]:
df_clean['Wage'].unique()

array(['€560K', '€220K', '€125K', '€370K', '€270K', '€240K', '€250K',
       '€160K', '€260K', '€210K', '€310K', '€130K', '€350K', '€300K',
       '€190K', '€145K', '€195K', '€100K', '€140K', '€290K', '€82K',
       '€110K', '€230K', '€155K', '€200K', '€165K', '€95K', '€170K',
       '€105K', '€115K', '€150K', '€135K', '€55K', '€58K', '€81K', '€34K',
       '€120K', '€59K', '€90K', '€65K', '€56K', '€71K', '€18K', '€75K',
       '€47K', '€20K', '€84K', '€86K', '€74K', '€78K', '€27K', '€68K',
       '€85K', '€25K', '€46K', '€83K', '€54K', '€79K', '€175K', '€43K',
       '€49K', '€45K', '€38K', '€41K', '€39K', '€23K', '€51K', '€50K',
       '€87K', '€30K', '€14K', '€69K', '€31K', '€64K', '€53K', '€35K',
       '€21K', '€28K', '€17K', '€33K', '€70K', '€32K', '€89K', '€26K',
       '€40K', '€76K', '€72K', '€48K', '€36K', '€29K', '€60K', '€16K',
       '€37K', '€24K', '€52K', '€0', '€62K', '€73K', '€63K', '€19K',
       '€1K', '€66K', '€80K', '€12K', '€2K', '€42K', '€13K', '€900',
       '€57K', '€77K', '€61K', '€22K', '€67K', '€44K', '€15K', '€11K',
       '€8K', '€850', '€10K', '€88K', '€500', '€7K', '€6K', '€9K', '€5K',
       '€700', '€950', '€750', '€3K', '€650', '€600', '€4K', '€800',
       '€550'], dtype=object)

In [27]:
def convert_wage(wage):
    if wage.endswith('K'):
        return float(wage[1:-1]) * 1e3  # Convert thousands to float
    else:
        return float(wage[1:])
    
# Apply the conversion function to the 'Wage' column
df_clean['Wage'] = df_clean['Wage'].apply(convert_wage)

### `Release Clause`

In [28]:
df_clean['Release Clause'].unique()

array(['€138.4M', '€75.9M', '€159.4M', ..., '€59K', '€35K', '€64K'],
      dtype=object)

In [29]:
df_clean['Release Clause'] = df_clean['Release Clause'].str.replace('€', '').str.replace('M', 'e6').str.replace('K', 'e3').astype(float)

### 6. Inspect the `HITS` column and ensure its float

In [30]:
df_clean['Hits'].sample(5)

2067     16
11919    17
6185     22
11708     1
13074    12
Name: Hits, dtype: object

In [31]:
df_clean['Hits'] = df_clean['Hits'].str.replace('K', 'e3').astype(float)

In [32]:
df_clean['Hits'].sort_values(ascending=False)

2579     8400.0
15861    6000.0
3791     4300.0
68       3200.0
690      3000.0
          ...
19016       NaN
19017       NaN
19018       NaN
19019       NaN
19020       NaN
Name: Hits, Length: 19020, dtype: float64

### 7. Create 5 new categorical columns for the Height, Weight, Release Clause, Value and Wage

In [33]:
# Define bucket functions
def bucket_height(height):
    if np.isnan(height):
        return np.nan
    return f'{(int(height) // 10) * 10}-{(((int(height)) // 10) * 10) + 9} cm'

def bucket_weight(weight):
    if np.isnan(weight):
        return np.nan
    return f'{(int(weight) // 10) * 10}-{(((int(weight)) // 10) * 10) + 9} kg'

def bucket_release_clause(value):
    if np.isnan(value):
        return np.nan
    return f'{int(value // 50e6) * 50}-{int((value // 50e6) * 50 + 49)}M'

def bucket_value(value):
    if np.isnan(value):
        return np.nan
    return f'{int(value // 50e6) * 50}-{int((value // 50e6) * 50 + 49)}M'

def bucket_wage(value):
    if np.isnan(value):
        return np.nan
    return f'{int(value // 50e3) * 50}-{int((value // 50e3) * 50 + 49)}K'

# Apply bucketing functions to create categorical columns
df_clean['Height Category'] = df_clean['Height'].apply(bucket_height)
df_clean['Weight Category'] = df_clean['Weight'].apply(bucket_weight)
df_clean['Release Clause Category'] = df_clean['Release Clause'].apply(bucket_release_clause)
df_clean['Value Category'] = df_clean['Value'].apply(bucket_value)
df_clean['Wage Category'] = df_clean['Wage'].apply(bucket_wage)

df_clean[['Height Category', 'Weight Category', 'Release Clause Category', 'Value Category', 'Wage Category']]

,Height Category,Weight Category,Release Clause Category,Value Category,Wage Category
0,170-179 cm,70-79 kg,100-149M,100-149M,550-599K
1,180-189 cm,80-89 kg,50-99M,50-99M,200-249K
2,180-189 cm,80-89 kg,150-199M,100-149M,100-149K
3,180-189 cm,70-79 kg,150-199M,100-149M,350-399K
4,170-179 cm,60-69 kg,150-199M,100-149M,250-299K
...,...,...,...,...,...
19016,170-179 cm,60-69 kg,0-49M,0-49M,0-49K
19017,170-179 cm,60-69 kg,0-49M,0-49M,0-49K
19018,170-179 cm,70-79 kg,0-49M,0-49M,0-49K
19019,170-179 cm,60-69 kg,0-49M,0-49M,0-49K
19020,180-189 cm,70-79 kg,0-49M,0-49M,0-49K

### 8. Rename Column

In [34]:
df_clean.rename(columns={'↓OVA': 'OVA'}, inplace=True)

### 9. Correct errorneous values in columns

In [35]:
df_clean['Dribbling'] = df_clean['Dribbling'].replace('70_', '70').astype(float)

In [36]:
df_clean['Short Passing'] = df_clean['Short Passing'].replace('69_', '69').astype(float)

### 10. Create a new Column which represent the month the player joined

In [37]:
# Convert 'Joined' column to datetime format
df_clean['Joined'] = pd.to_datetime(df_clean['Joined'], format='%d-%b-%y')

# Extract month name and create a new column 'joined_month'
df_clean['Month Joined'] = df_clean['Joined'].dt.strftime('%B')

df_clean['Month Joined']

0             July
1             July
2             July
3           August
4           August
           ...
19016         July
19017       August
19018        March
19019    September
19020         July
Name: Month Joined, Length: 19020, dtype: object

Some players might perform better during the summer or winter transfer window. This might be a useful insight for the model

## Task 2 & 3

In [38]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [39]:
inputs = [
    'Nationality', 'Age', 'OVA', 'POT', 'Height', 'Weight', 'Preferred Foot',
    'BOV', 'Best Position', 'Month Joined', 'Value', 'Wage', 'Release Clause', 
    'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 
    'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 
    'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 
    'Balance','Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
    'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
    'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
    'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
    'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'Player Name'
]

In [40]:
target = 'Hits'

In [41]:
train_df = df_clean[inputs]

In [42]:
test_df = df_clean[target]

### Fill missing values with mean

In [43]:
imputer = SimpleImputer(strategy='mean')

In [44]:
numeric_columns = train_df.select_dtypes(include=[np.number]).columns

In [45]:
train_df[numeric_columns] = imputer.fit_transform(train_df[numeric_columns])

### Scale Numeric Columns

In [46]:
scaler = MinMaxScaler()

In [47]:
scaled_data = scaler.fit_transform(train_df[numeric_columns])
train_df[numeric_columns] = scaled_data

In [48]:
train_df[numeric_columns].describe()

,Age,OVA,POT,Height,Weight,BOV,Value,Wage,Release Clause,Attacking,...,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats
count,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,...,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000
mean,0.248394,0.406721,0.502763,0.513675,0.416937,0.416543,0.015418,0.016200,0.019479,0.523835,...,0.485257,0.484251,0.166083,0.163762,0.157804,0.154634,0.159674,0.164950,0.540580,0.464935
std,0.127284,0.151316,0.127366,0.134083,0.117867,0.149799,0.041387,0.035136,0.048070,0.187968,...,0.242684,0.243167,0.196820,0.199388,0.186776,0.181154,0.190990,0.202804,0.171852,0.153105
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.135135,0.304348,0.416667,0.411765,0.333333,0.311111,0.002561,0.001786,0.002093,0.455696,...,0.250000,0.244186,0.088372,0.068182,0.066667,0.065934,0.067416,0.068182,0.449331,0.357143
50%,0.243243,0.413043,0.500000,0.509804,0.416667,0.422222,0.005121,0.005357,0.004924,0.559494,...,0.568182,0.558140,0.100000,0.102273,0.100000,0.098901,0.101124,0.102273,0.560229,0.466165
75%,0.351351,0.500000,0.583333,0.607843,0.500000,0.511111,0.010782,0.014286,0.013786,0.645570,...,0.681818,0.686047,0.113953,0.136364,0.133333,0.131868,0.134831,0.136364,0.658381,0.571429
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Encode Categorical Columns

In [49]:
categorical_columns = train_df.select_dtypes(include=['object']).columns

encoder = OneHotEncoder()

encoded_data = encoder.fit_transform(train_df[categorical_columns])

In [50]:
encoded_data.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [51]:
encoded_cols = list(encoder.get_feature_names_out(categorical_columns))

In [52]:
train_df[encoded_cols] = encoded_data.toarray()

KeyboardInterrupt